<!DOCTYPE html>
<html lang="en-GB">
  <%- include('parts/head', {jsFile: " ", cssFile: "job"}) %>

  <body id="page-job">
    <%- include('parts/page-header', {title: 'Add new job' }) %>

    <div class="container flex animate-up delay-2">
      <main>
        <form id="form-job" action="/job" method="POST">
          <fieldset>
            <legend>Job Data</legend>
            <div class="separator light"></div>

            <div class="input-wrapper">
              <label for="name">Job name</label>
              <input type="text" id="name" name="name" />
            </div>

            <div class="input-group">
              <div class="input-wrapper">
                <label for="daily-hours"
                  >How many hours <br />
                  per day will you dedicate to the job?</label
                >
                <input
                  type="number"
                  step="0.1"
                  id="daily-hours"
                  name="daily-hours"
                />
              </div>

              <div class="input-wrapper">
                <label for="total-hours"
                  >Estimate of <br />
                  hours for that Job?</label
                >
                <input type="number" id="total-hours" name="total-hours" />
              </div>
            </div>
          </fieldset>
        </form>
      </main>

      <aside class="card">
        <img src="/images/money-gray.svg" alt="money image" />
        <p>Fill in the data on the side to see the value of the project</p>

        <div class="button-group">
          <button
            class="button green"
            form="form-job"
            type="submit"
            title="Save data"
          >
            Save
          </button>

          <a href="/" class="button gray">
            <img src="/images/trash-24.svg" alt="Cancel" title="Cancel" />
          </a>
        </div>
      </aside>
    </div>
  </body>
</html>
